@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  transition: 0.2s linear all;
  margin: 0 10px;
}

 /*Important that font size and li width stay in proportion to prevent line wrap changes when transitioning sizes */
li {
  font-size: 2rem;
  width: 50%;
  opacity: 0.6;
}

li.large {
  font-size: 4rem;
  width: 100%;
  opacity: 1;
}

li.zero {
  /*Important that font size and li width stay in proportion to prevent line wrap changes when transitioning sizes */
  font-size: 0;
  width: 0;
}

.hidden {
  display: none;
}

@layer components {
  .hyperlink {
      @apply text-blue-500 underline cursor-pointer;
    }
    .hyperlink:hover {
      @apply text-blue-800;
    }
  }