@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  transition: 0.2s linear all;
  margin: 0 10px;
}

li {
  /*important for animation for font size and width to stay in proportion*/
  font-size: 4vw;
  width: 40vw;
  opacity: 0.6;
}

li.large {
  /*important for animation for font size and width to stay in proportion*/
  font-size: 8vw;
  width: 80vw;
  opacity: 1;
}

li.zero {
  /*important for animation for font size and width to stay in proportion*/
  font-size: 0vw;
  width: 0vw;
}

.hidden {
  display: none;
}

@layer components {
  .hyperlink {
      @apply text-blue-500 underline cursor-pointer;
    }
    .hyperlink:hover {
      @apply text-blue-800;
    }
  }