@tailwind base;
@tailwind components;
@tailwind utilities;


li {
  transition: 0.2s linear all;
  margin: 0 10px;
}

/* see resizing.ts for text size and widths */
li {
  opacity: 0.6;
}
li.large {
  opacity: 1;
}

/* previous version of list styles - not compatible with zoom?*/
/* li { */
/*   font-size: 4vw; */
/*   width: 40vw; */
/*   opacity: 0.6; */
/* } */
/*  */
/* li.large { */
/*   font-size: 8vw; */
/*   width: 80vw; */
/*   opacity: 1; */
/* } */
/*  */
/* li.zero { */
/*   font-size: 0vw; */
/*   width: 0vw; */
/* } */

.mt-vh {
  margin-top: 10vh;
}

.hidden {
  display: none;
}

.cursor-none {
  cursor: none;
}

.cursor-auto {
  cursor: auto;  
}

.user-select-none {
  user-select: none; 
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select: none; 
}

@layer components {
  .hyperlink {
      @apply text-blue-500 underline cursor-pointer;
    }
    .hyperlink:hover {
      @apply text-blue-800;
    }
    .button {
      @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded
    }
  }
